<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/register">
            <fieldset>
                <legend><i class="fa fa fa-pencil"></i> Register:</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" required
                               name="email" value="{{email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name"
                               required name="fullName" value="{{fullName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputGender">Gender</label>
                    <div class="col-sm-4">
                        <label class="radio-new">
                            <input type="radio" required name="gender" value="Male"> Male&nbsp;
                            <input type="radio" required name="gender" value="Female"> Female&nbsp;
                            <input type="radio" required name="gender" value="Other"> Other
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputNationality">Nationality</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputNationality" placeholder="Nationality" required
                               name="nationality" value="{{nationality}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputHometown">Hometown</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputHometown" placeholder="Hometown" required
                               name="hometown" value="{{hometown}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputPassword">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required
                               name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password"
                               required name="repeatedPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>